*.o
*.so
*.a
*lwip_unittests.xml
*.suo
*.log
.depend

/.vscode/ipch

/doc/doxygen/output/html

/test/fuzz/output
/test/fuzz/lwip_fuzz
/test/fuzz/.depend

/build

/contrib/examples/example_app/lwipcfg.h
/contrib/examples/example_app/lwipopts_test.h

/contrib/ports/unix/example_app/build
/contrib/ports/unix/example_app/example_app
/contrib/ports/unix/example_app/makefsdata

/contrib/ports/unix/check/build
/contrib/ports/unix/lib/build
/contrib/ports/unix/check/lwip_unittests

/contrib/ports/win32/example_app/build
/contrib/ports/win32/lwipcfg_msvc.h

/contrib/ports/win32/msvc/Debug
/contrib/ports/win32/msvc/Debug unittests
/contrib/ports/win32/msvc/Release
/contrib/ports/win32/msvc/Release unittests
/contrib/ports/win32/msvc/*.user
/contrib/ports/win32/msvc/*.ncb
/contrib/ports/win32/msvc/*.cache
/contrib/ports/win32/msvc/*.suo
/contrib/ports/win32/msvc/ipch
/contrib/ports/win32/msvc/*.opensdf
/contrib/ports/win32/msvc/*.sdf
/contrib/ports/win32/mingw/*.exe
/contrib/ports/win32/mingw/*.map
/contrib/ports/win32/mingw/cov-int
/contrib/ports/win32/msvc/.vs
